
*,*::after , *::before{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

:root{
    --hue: 200;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 20%);
}

body{
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
}

.paddle{
    --position: 50;

    position: absolute;
    background-color: var(--foreground-color);
    top: calc(var(--position) * 1vh);
    transform: translateY(-50%);
    width: 1vh;
    height: 10vh;
}

.paddle.left{
    left: 2vw;
    
}

.paddle.right{
    right: 2vw;
}


.ball{
    --x: 50;
    --y: 50;

    position: absolute;
    background-color: var(--foreground-color);
    top: calc(var(--y) * 1vh);
    left: calc(var(--x) * 1vw);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    width: 2.5vh;
    height: 2.5vh;
}

.score{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--foreground-color);
}
.score > *{
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: 0.5;
    user-select: none;
}
.score > :first-child{
    text-align: right;
    border-right: 0.5vh solid var(--foreground-color);
}


.menu-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.7);
}

.menu-wrapper .menu{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50% , -50%);
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    max-width: 90%;
    padding: 50px 40px;
    text-align: center;
    border-radius: 20px;
}
.menu-wrapper .menu .title{
    font-size: 4vw;
    margin-bottom: 5vh;
}

.menu-wrapper .menu .difficulty{
    display: flex;
    justify-content: center;
}
.menu-wrapper .menu .difficulty div{
    flex: 1;
   background-color: #c9c9c9;
   border-radius: 5px;
    padding: 15px 0;
    margin: 5px 10px;
    font-size: 18px;
    cursor: pointer;
}
.menu-wrapper .menu .difficulty div.active{
    background-color: rgb(2, 189, 2);
}